/*HexPawn is created by Lee Jones (Moosebiter) under a GNU v2 license*/

.hex{
    fill:white;
    stroke:black;
    stroke-width:2;
}
.selectedHex,.selectedHex:hover{
    fill:red !important;
}
@media only screen and (min-device-width: 992px) {
    .hex:hover{
        fill:lightgray;
    }
}
.buttonBar{
    width:300px;
    padding:15px;
    display: table-cell;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: lightgray;
    margin:2px;
}
#svgCanvas,#hexInfo{
    border-color:gray;
    border-style:solid;
    border-width: 2px;
}
.wrapper{
    width: 100%;
}
.container{
    display:table;
    width:1024px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    float:left;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.Desert{
    fill:beige;
}
.Forest{
    fill:ForestGreen;
}
.Hill{
    fill:DarkGoldenRod;
}
.Marsh{
    fill:DarkSlateGray;
}
.Mountain{
    fill:Sienna;
}
.Plain{
    fill:LightGreen;
}
.Settlement{
    fill:Gold;
}
.Water{
    fill:DeepSkyBlue;
}
legend{
    font-size: 14pt;
    font-weight: bold;
    border-radius: 10px;
    background:white;
    width:100%;
    text-align: center;
    margin-bottom:5px;
}
.panel{
    margin-top:15px;
    background-color: lightgray;
    border-radius: 10px;
    border-width: 3px;
    border-color: darkgray;
    border-style: solid;
    padding:5px;
}
.column{
    width:316px;
    float:left;
    padding-left: 11px;
    padding-right: 11px;

}